* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Open Sans";
  background-color: rgb(255, 255, 255);
  color: #4b5a6f;
}

a {
  color: #4b5a6f;
}

.main__container {
  max-width: 1300px;
  margin: auto;
}

#HeaderContent {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.logo {
  width: min-content;
  display: flex;
  align-items: center;
}

.home {
  left: 350px;
  top: 30px;
  margin-top: 7px;
  position: absolute;
  text-align: center;
  color: #1252ae;
  font-size: 20px;
  font-family: Open Sans;
  font-weight: 400;
  word-wrap: break-word;
}

.property {
  left: 435px; 
  top: 36px; 
  position: absolute; 
  text-align: center; 
  color: #4B5A6F; 
  font-size: 20px; 
  font-family: Open Sans; 
  font-weight: 400; 
  word-wrap: break-word
}

.about {
    left: 537px; 
    top: 36px; 
    position: absolute; 
    text-align: center; 
    color: #4B5A6F; 
    font-size: 20px; 
    font-family: Open Sans; 
    font-weight: 400; 
    word-wrap: break-word
}

.review {
  left: 625px; 
  top: 36px; 
  position: absolute; 
  text-align: center;
  color: #4B5A6F; 
  font-size: 20px; 
  font-family: Open Sans; 
  font-weight: 400;
  word-wrap: break-word;

}

.blog {
  left: 723px; 
  top: 36px; 
  position: absolute; 
  text-align: center; 
  color: #4B5A6F; 
  font-size: 20px; 
  font-family: Open Sans; 
  font-weight: 400; 
  word-wrap: break-word;
}

.contact {
  left: 804px;
  top: 34px;
  position: absolute;
  text-align: center;
  color: #4b5a6f;
  font-size: 20px;
  font-family: Open Sans;
  font-weight: 400;
  word-wrap: break-word;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  align-items: right;
}

.button:hover {
  background-color: #3498db;
  color: #fff;
}

.signup-button {
  display: inline-block;
  color: #1252ae;
  padding: 10px 20px;
  font-size: 16px;
  margin-left: 30px;
  text-align: center;
  text-decoration: none;
  background: rgba(18, 82, 174, 0.15);
  box-shadow: 0px 2px 3px 0px rgba(18, 82, 174, 0.4);
}

.signup-button:hover {
  background-color: #4b5a6f;
}

.nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-menu li {
  float: left;
}

.nav-menu li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.banner {
  margin-top: 30px;
  margin-bottom: 30px;
}

.banner__image__container {
  /* set backgrond image  */
  background-image: url("hero-bg.png");
  padding:70px 50px;
}

.vision {
  width: 184px; 
  height: 28px; 
  background: rgba(255, 255, 255, 0.20);
  border-radius: 50px; 
  border: 1px rgba(255, 255, 255, 0.25) solid;
}

h4 {
  padding-top: 5px;
  text-align: center; 
  color: #0B1E3B; 
  font-size: 14px; 
  font-family: Open Sans; 
  font-weight: 400; 
  word-wrap: break-word"
}

.banner__heading {
  gap: 8px;
  padding-top: 20px;
  color: #2A323C;
  text-shadow: 2px 3px 4px rgba(10, 25, 48, 0.28);
  font-family: "Open Sans";
  font-size: 66px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px; /* 121.212% */
}

h2 { 
  color: #1252AE; 
  font-size: 66px; 
  font-family: Open Sans;
  font-weight: 700; 
  line-height: 80px; 
  word-wrap: break-word;
}

.para {
  margin-top: 28px;
  color: #2A323C; 
  font-size: 15px; 
  font-family: Open Sans; 
  font-weight: 400; 
  word-wrap: break-word;
}

.buy {
  display: inline-block;
  color:#ffffff;
  padding: 10px 20px;
  font-size: 16px;
  margin-left: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 6px;
  background: #1252AE;
  box-shadow: 0px 2px 3px 0px rgba(0, 16, 37, 0.4);
}

  .buy:hover {
      background-color: white;
      color: #1252AE;
    }

.sell {
  display: inline-block;
  color:#1252AE;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 45px;
  margin-left: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 6px;
  background: #ffffff;
  box-shadow: 0px 2px 3px 0px rgba(0, 16, 37, 0.4);}
    .sell:hover{
        background-color:#1252AE;
        color: white;
      } 

.rent {
  display: inline-block;
  color:#1252AE;
  padding: 10px 20px;
  font-size: 16px;
  margin-left: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 6px;
  background: #ffffff;
  box-shadow: 0px 2px 3px 0px rgba(0, 16, 37, 0.4);}
    .rent:hover{
            background-color:#1252AE;
            color: white;
          } 

.block {
  display: flex;
  margin-top: -3px;
  width: 655px; 
  height: 66px; 
  background: rgba(255, 255, 255, 0.20); 
  border-radius: 6px; 
  border: 1px rgba(255, 255, 255, 0.25) solid; 
  backdrop-filter: blur(8px)
}

.location {
  width: 160px; 
  height: 41px; 
  background: white; 
  border-radius: 4px;
}

.location-button {
  color: #434547;
  display: flex;
  justify-content: center;
  padding: 12px 12px;
  gap: 15px;
  width: 160px; 
  height: 41px; 
  background: rgb(255, 255, 255); 
  background-clip: initial;
  border-radius: 4px solid white;}

.location-button:hover {
  background-color:#dfedff;
  color:#1252AE;
}
.property-button{
  color: #434547;
  display: flex;
  justify-content: center;
  padding: 12px 12px;
  gap: 15px;
  width: 160px; 
  height: 41px; 
  background: white; 
  border-radius: 4px;
}
.property-button:hover {
  background-color:#d7e7ff;
  color:#1252AE;}

.price-button{
  color: #434547;
  display: flex;
  justify-content: center;
  padding: 12px 12px;
  gap: 15px;
  width: 160px;
  height: 41px;
  background: white ;
  border-radius: 4px;
}
.price-button:hover{
  background-color:#ccdffa;
  color:#1252AE;
}

.search-button{
  display: flex;
  justify-content: center;
  padding: 12px 12px;
  gap: 9px;
  width: 109px;
  height: 41px;
  background-color: #1252ae;
  border-radius: 4px solid #1252ae;
  color: white;
}
.search-button:hover{
  background-color: #ffffff;
  color:#1252ae;
}

.options{
  padding: 12px;
  display: flex;
  margin-left: 5px;
  gap: 10px;
}

.search {
  width: 112px; 
  height: 38px; 
  background: #1252AE; 
  box-shadow: 0px 3px 3px rgba(8.71, 23.01, 43.56, 0.25); 
  border-radius: 4px;
}

.second__container{
  max-width: 1300px;
  margin: auto;
}
.heading2{
  margin-top: 90px;
  display: flex;
  justify-content: left;
  gap: 9px;
}
.heading3{
  margin-top: 130px;
  display: flex;
  justify-content: left;
  gap: 14px;
}
h7{
  gap: 8px;
  padding-top: 20px;
  color: #1252AE;
  text-shadow: 2px 3px 4px rgba(10, 25, 48, 0.28);
  font-family: "Open Sans";
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 80px;
}
h8{
  margin-left: 6px;
  gap: 8px;
  padding-top: 20px;
  color:#2A323C ;
  text-shadow: 2px 3px 4px rgba(10, 25, 48, 0.28);
  font-family: "Open Sans";
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 80px;
}
.third__container{
  max-width: 1300px;
  margin: auto;
}
.forth__container{
  margin-top: 120px;
  max-width: 1300px;
  margin: auto;}
.squares{
  margin-top: 84px;
  display: inline-flex;
  gap: 138px;
  margin-left: 70px;
}
.square1{
  width: 120px; 
  height: 120px;
}
.Services{
  margin-top: 84px;
  display: inline-flex;
  gap: 120px;
  margin-left: 44px;
}
.one{
  width: max-content;
  text-align: center; 
  margin-top: -50px;
  color: #2A323C; 
  font-size: 22px; 
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif Sans; 
  font-weight: 670; 
  word-wrap: break-word
}
.description{
  margin-top: -15px;
  display:flex;
  gap: 155px;
  margin-left: 56px;
}
.below{
  
  width: 110px; 
  height: 30px; 
  background: #EBEEF2; 
  box-shadow: 0px 2px 1px rgba(36, 45, 60, 0.20); 
  border-radius: 50px;
  
}
.prmt{
  text-align: center; 
  color: #2A323C; 
  font-size: 14px; 
  font-family: Open Sans; 
  font-weight: 400; 
  word-wrap: break-word;
  padding: 7px 8px 8px 8px;
}
.propertydeal{
  background-image: url('section.png');
  margin-top: 30px;
  size: 1000px;
  margin-left: -310px;
  margin-top: 180px;
}
h10{
  color: #1252AE;
  text-shadow: 2px 3px 4px rgba(10, 25, 48, 0.28);
  font-family: "Open Sans";
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: 80px;
}
h11{
  color:#2A323C ;
  text-shadow: 2px 3px 4px rgba(10, 25, 48, 0.28);
  font-family: "Open Sans";
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: 80px;
}
.deal1{
  width: 312px; 
  height: 386px; 
  background: rgb(255, 251, 251); 
  box-shadow: 0px 2px 3px rgba(36, 45, 60, 0.20); 
  border-radius: 4px
}
.Deals{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 90px;
}
.imagez{
  width: 312px; 
  height: 199px;
}
.details{
  color: #2A323C; 
  font-size: 20px; 
  font-family: Open Sans; 
  font-weight: 600; 
  word-wrap: break-word;
  margin-left: 18px;
  margin-top: 9px;
}
.addrex{
  display: flex;
  justify-content: left;
  margin-top: 11px;
  gap: 8.5px;
  margin-left: 20px;
  
}
.img{
  width: 20px; 
  height: 20px; 
}
.address{
  color: #737D8C; 
  font-size: 14px; 
  font-family: Open Sans; 
  font-weight: 400; 
  word-wrap: break-word
}
.addrex2{
  display: flex;
  justify-content: left;
  margin-top: 11px;
  gap: 10px;
  margin-left: 20px;
  
}
.img2{
  width: 22px; 
  height: 22px; 
}
.address2{
  color: #737D8C; 
  font-size: 14px; 
  font-family: Open Sans; 
  font-weight: 400; 
  word-wrap: break-word
}
.roww{
  display: flex;
  gap: 25px;
}

.linee{
  margin-top: 17px;
  margin-left: 18px;
  width: 264px; 
  height: 1px; 
  background: #DDE0E5;
}
.pricingdetail{
  margin-left: 22px;
  display: flex;
  margin-top: 20px;
}
.pricee{
  color: #1252AE; 
  font-size: 19px; 
  font-family: Open Sans; 
  font-weight: 700; 
  word-wrap: break-word;
}

.dnn{
  margin-top: 7px;
  color: #1252AE; 
  font-size: 12px; 
  font-family: Open Sans; 
  font-weight: 400; 
  word-wrap: break-word;
}

.buttonviewmore {
  display: inline-block;
  margin-top: 12.5px;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  align-items: right;
  background-color:  #EBEEF2;
  color: #1252ae;
}

.buttonviewmore:hover {
  background-color: #3498db;
  color: #fff;
}
.hfz{
  display: flex;
  gap: 44px;
}

.viewmoree{
  display: flex;
  gap: 15px;
  margin-top: 70px;
  justify-content: center;

}
.buttonviewmoree {
  background-color: #1252ae;
  color: white;
  display: inline-block;
  margin-top: 12.5px;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  align-items: right;
}
.buttonviewmoree:hover{
  background-color: #3498db;
  color: #fff;

}
.rightarrow{
    margin-bottom: auto;
    margin-left: 5px;
}
  
.fifth__container{
    margin-top: 120px;
    max-width: 1300px;
    margin: auto;
}
.aboutusone{
  box-shadow: 0px 2px 3px 0px rgba(18, 82, 174, 0.4);
}
.weare{
  color: #2A323C; 
  font-size: 40px; 
  font-family: Open Sans; 
  font-weight: 700; 
  word-wrap: break-word;
}
.realestate{
  color: #1252AE; 
  font-size: 40px; 
  font-family: Open Sans; 
  font-weight: 700; 
  word-wrap: break-word
}
.agent{
  margin-left: 8px;
  color: #2A323C; 
  font-size: 40px; 
  font-family: Open Sans; 
  font-weight: 700; 
  word-wrap: break-word;
}

.aboutusdetails{
  display: flex;
  justify-content: left;
  gap: 150px;
  margin-top: 102px;

}
.para5{
  margin-top: 23px;
  width: 624px;
  height: 38px;
  color: #737D8C; 
  font-size: 14px; 
  font-family: Open Sans; 
  font-weight: 370; 
  word-wrap: break-word;
}

.aboutusboxone{
  width: 536px; 
  height: 144px; 
  border-radius: 4px; 
  border: 1px #D4DCE5 solid;
}
.aboutusboxtwo{
  width: 536px; 
  height: 80px; 
  border-radius: 4px; 
  border: 1px #D4DCE5 solid;
}
.boxexz{
  display: grid;
  margin-top: 25px;
  gap: 9px;
  justify-content: left;
  
}
.alignthem{
  display: flex;
  gap: 25px;
}
.hhbn{
  display: flex;
  width: 40px; 
  height: 40px; 
  background: rgba(18, 82, 174, 0.15); 
  border-radius: 50px;
  margin-top: 15px;
  margin-left: 18px ;
}
.done{
  width: 20px; 
  height: 20px; 
  margin-top: 10px;
  margin-left: 10px;

}
.setut{
  color: #323B45; 
  font-size: 17px; 
  font-family: Open Sans; 
  font-weight: 400; 
  word-wrap: break-word;
}
.Sixth__container{
  max-width: 1300px;
  margin: auto;
  margin-top: 200px;
}



.aboutus2ndrow{

  display: flex;
  gap: 120px;
}

.hp{
  display: grid;
  row-gap: 35px;
  justify-content: left;
  width: 624px;
  height: 38px;
}

.pp1{
  color: #737D8C; 
  font-size: 14px; 
  font-family: Open Sans; 
  font-weight: 370; 
  word-wrap: break-word;  
  width: 624px;
  height: 38px;
}
.det{
  color: #323B45; 
  font-size: 15px; 
  font-family: Open Sans;
  font-weight: 400;
  word-wrap: break-word;
}

.rp{
  display: flex;
  gap: 12px;
}
.points{
  margin-top: 26px;
  display: grid;
  gap: 15px;
}
.viewmoreee{
  margin-top: 20px;
}

.seven__container{
  max-width: 1300px;
  margin: auto;

  
}
.four4{
  margin-top: 260px;
  justify-content: left;
  margin-left: 30px;
  display: flex;
  gap: 50px;
}
.oneboxx{
  display: grid;
  justify-content: right;
  width: 312px; 
  height: 197px; 
  background-color: #f6f6f6;
  justify-content: center;

}
.crown{
  margin-top: 30px;
  margin-left: 50px;
  width: 45px; 
  height: 40px; 
}
.no1{
  text-align: center; 
  color: #2A323C; 
  font-size: 38px; 
  font-family: Open Sans; 
  font-weight: 700; 
  word-wrap: break-word;
}
.premium{
  text-align: center; 
  color: #737D8C; 
  font-size: 18px; 
  font-family: Open Sans; 
  font-weight: 400; 
  word-wrap: break-word;
}
.borderlineee{
  margin-top: 10px;
  
}
.qa{
  display: grid;
}
.q1{
  margin-top: 23px;
  color: #323B45; 
  font-size: 19px;
  font-family: Open Sans; 
  font-weight: 500; 
  word-wrap: break-word;
}
.a1{
  margin-top: 15px;
  color: #737D8C; 
  font-size: 14px; 
  font-family: Open Sans; 
  font-weight: 390; 
  word-wrap: break-word;
}
.q2{
  color: #6A727C; 
  font-size: 19px; 
  font-family: Open Sans; 
  font-weight: 400; 
  word-wrap: break-word;
  margin-top: 22px;
}
.arrowwwd{
  margin-left: 20px;
}